.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1.5rem;
	position: relative;
}

.title {
	color: #191919;
	font-size: 2rem;
	line-height: 3rem;
	font-weight: 600;
}

.informationRow {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	max-width: 400px;
}

.information {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.informationTitle {
	color: #191919;
	font-size: 1.25rem;
	line-height: 1.5rem;
	font-weight: 600;
}

.informationText {
	color: #191919;
	font-size: 1rem;
	line-height: 1.5rem;
	font-weight: 400;
}

@media (max-width: 768px) {
	.title {
		font-size: 1.5rem;
		margin: 1.5rem 0;
	}

	.informationTitle {
		font-size: 1rem;
	}

	.informationText {
		font-size: 0.875rem;
	}
}
