.container {
	margin: 1rem auto 4rem;
	width: 500px;
	max-width: 100%;
}

.byName {
	max-width: 31.25rem;
}

.container input,
.byName input {
	width: 100%;
}

@media (max-width: 48rem) {
	.container {
		width: 25rem;
		max-width: 100%;
	}
}
