.main {
	padding: 1rem 0;
}

.details {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
	max-width: 846px;
	margin: 42px auto 0;
}

@media (max-width: 48rem) {
	.details {
		grid-template-columns: 1fr;
	}
}
